<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{ 'COMPETITIONS.TITLE' | translate }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-refresher (ionRefresh)="getMyCompetitionsInfo($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-list>
    <ion-item *ngFor="let competition of competitions" (click)="goToCompetition(competition)">
      <ion-avatar item-left>
        <img *ngIf="competition.type === 'Liga'" src="assets/liga-icon.svg">
        <img *ngIf="competition.type === 'Tenis'" src="assets/tenis-icon.svg">
      </ion-avatar>
      <h2> {{ competition.name }} </h2>
      <p> {{ competition.grade.name }} {{ competition.matter.name }} </p>
      <ion-icon name="ios-arrow-forward" item-right></ion-icon>
    </ion-item>
  </ion-list>
  <div *ngIf="competitions.length == 0">
    <h2 *ngIf="myRole == role.TEACHER">{{ 'COMPETITIONS.NONE_TEACHER' | translate }}</h2>
    <h2 *ngIf="myRole == role.STUDENT">{{ 'COMPETITIONS.NONE_STUDENT' | translate }}</h2>
    <h2 *ngIf="myRole == role.SCHOOLADMIN">{{ 'COMPETITIONS.NONE_SCHOOLADMIN' | translate }}</h2>
  </div>
</ion-content>
