<ion-header>
    <ion-navbar color="primary">
        <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>{{ 'COMPETITIONS.TEAMS' | translate }}</ion-title>
      </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-card class="team-card" *ngFor="let team of teams; let i=index;">
    <ion-card-header>
      <h1><strong>{{ 'COMPETITIONS.TEAM' | translate }} {{i + 1}}: {{team.name | uppercase}}</strong></h1>
      <h2>{{team.numPlayers}} {{ 'COMPETITIONS.PLAYERS' | translate }}</h2>
    </ion-card-header>
        <ion-list *ngFor="let student of allStudents[i]">
          <button ion-item>
            <ion-icon name="person" item-start></ion-icon>
            {{student.name}} {{student.surname}}
          </button>
        </ion-list>
  </ion-card>
</ion-content>
