<ion-header>
    <ion-navbar color="primary">
        <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>{{ 'TENNIS.TITLE' | translate }}</ion-title>
      </ion-navbar>
</ion-header>

<ion-content padding>
  <div class="title">
    <h1 align="center">{{competition.name}}</h1>
  </div>
  <button class="btn" ion-button (click)="goToTournaments()" icon-left full>
   <ion-icon class="btn-icon" name="trophy"></ion-icon>
   {{ 'TENNIS.TOURNAMENT_TRACKING' | translate }}
  </button>
  <button class="btn" ion-button (click)="goToCalendar()" icon-left full>
    <ion-icon class="btn-icon" name="calendar"></ion-icon>
    {{ 'COMPETITIONS.CALENDAR' | translate }}
  </button>
  <button *ngIf="competition.mode === 'Equipos'" (click)="goToTeams()" class="btn" ion-button icon-left full>
    <ion-icon class="btn-icon" name="people"></ion-icon>
    {{ 'COMPETITIONS.TEAMS' | translate }}
  </button>
  <button *ngIf="!showInfo" class="btn" ion-button icon-left full (click)="showInformation()">
    <ion-icon class="btn-icon" name="information-circle"></ion-icon>
    {{ 'COMPETITIONS.SHOW_INFO' | translate }}
  </button>
  <button *ngIf="showInfo" class="btn" ion-button icon-left full (click)="showInformation()">
    <ion-icon class="btn-icon" name="information-circle"></ion-icon>
    <b>{{ 'COMPETITIONS.HIDE_INFO' | translate }}</b>
  </button>
  <ion-card *ngIf="showInfo">
    <ion-card-header>
      <b>{{ 'COMPETITIONS.INFO_COMP' | translate }}:</b>
    </ion-card-header>
    <ion-card-content>
      {{competition.information}}
    </ion-card-content>
  </ion-card>

</ion-content>
